VITE_API_BASE_URL=https://script.google.com/macros/s/AKfycbwwgXwQtTeI5NPzgSiJY00RP1iEHssYgMH9e3eJVQ2dfVlDU0mIUPRUwJIoycngV7GE/exec
VITE_API_KEY=shoppe_affiliate_share_6d2a8eca-3213-4fc3-a3d6-3237171918e5
VITE_USE_MOCK_HISTORY=false
VITE_ZALO_URL=https://zalo.me/your-id
